/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27272F; /* Set the background color you want */
    color: #fff;
    padding: 10px 20px;
    
    height:67px
  }
  
  .nav-logo img {
    height: 40px; /* Adjust the height as needed */
  }
  
  .nav-links a {
    border: none;
    background-color: #27272F;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }
  
  /* .nav-links a:hover {
    text-decoration: underline;
  } */
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box input {
    border: none;
    background-color: #27272F;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
  }
  
  .search-icon {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
  }
  